<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            provider = cluster
            deployment {
              /formActor/connector/backendrouter {
                router = round-robin-pool # sad cemo koristit pool routera
                #router = round-robin-group
                #routees.paths = ["/user/worker"] # odredista # ne koristi se kod pool routera
                #nr-of-instances = 10 # maksimalan broj odredišnih actora ukupno
                cluster {
                  max-nr-of-instances-per-node = 5 # maksimalan broj odredišnih actora po čvoru
                  enabled = on # ukljuci clustering postavke
                  use-role = backend
                  allow-local-routees = off # omogućuje nam da postavimo hoce li se koristiti 
                  # lokalni cvor
                }
              }
            }
          }
          remote {
              dot-netty.tcp {
                port = 12000
                hostname = "127.0.0.1"
            }
          }
          cluster {
            seed-nodes = ["akka.tcp://ClusterRouterExample@127.0.0.1:12000"] # address of seed node
            
            #min-nr-of-members = 3
            role {
              frontend.min-nr-of-members = 1
              backend.min-nr-of-members = 2
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>